@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-200%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation-from-top {
  animation: fromTop 0.5s ease-in-out;
}