:root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, button, a {
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: 0;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding-inline: 1.8rem;
}
@media screen and (max-width: 600px) {
  .container {
    padding-inline: 1.2rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.separator {
  max-width: 100%;
  height: 1px;
  background-color: #d5d5d5;
  margin-block: 6.8rem;
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-200%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animation-from-top {
  animation: fromTop 0.5s ease-in-out;
}

.menu {
  padding: 3.2rem 0;
}

.menu__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.menu__social-list {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.menu__social-link {
  display: block;
  font-size: 1.8rem;
  color: #131313;
  padding: 0.4rem 0.8rem;
  transition: all 0.3s;
}
.menu__social-link:hover {
  color: #727272;
}

.menu__actions-list {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.menu__actions-button {
  background-color: transparent;
  padding: 0.4rem 0.8rem;
}

.menu__actions-button--cart {
  font-size: 1.6rem;
}

.menu__actions-button--profile,
.menu__actions-button--search {
  font-size: 1.8rem;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.menu__list-link {
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #727272;
  padding: 0.4rem 0.8rem;
  transition: all 0.3s;
}
.menu__list-link:hover {
  color: #131313;
}

.menu__list-link--icon {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

@media screen and (max-width: 600px) {
  .menu__social-list {
    display: none;
  }
}

.menu__button-mobile {
  display: none;
  background-color: transparent;
  padding: 0.4rem 0.8rem;
  font-size: 1.8rem;
  color: #131313;
}
@media screen and (max-width: 600px) {
  .menu__button-mobile {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .menu__actions-item:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .menu__list {
    display: none;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
  }
}

@media screen and (max-width: 600px) {
  .menu__list.active {
    display: flex;
  }
}

@media screen and (max-width: 400px) {
  .menu__top {
    flex-direction: column;
    gap: 1.6rem;
  }
}

.lastPost {
  padding-block: 3.2rem;
}

.lastPost .container {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
@media screen and (max-width: 1000px) {
  .lastPost .container {
    flex-direction: column;
    align-items: initial;
  }
}

.lastPost__left {
  border-radius: 1.8rem;
  padding: 3.6rem;
  flex: 2;
  height: 52.6rem;
  background-image: url("../images/image1.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1.8rem;
}
@media screen and (max-width: 1000px) {
  .lastPost__left {
    flex: initial;
    background-image: url("../images/image1-mobile.avif");
  }
}

.lastPost__badge {
  cursor: pointer;
  color: #131313;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0.4rem;
  width: fit-content;
  display: inline-block;
  padding: 0.8rem 1.2rem;
  background-color: #ffffff;
  transition: all 0.3s;
}
.lastPost__badge:hover {
  background-color: #d5d5d5;
}

.lastPost__title {
  font-size: 2.8rem;
  color: #ffffff;
}
@media screen and (max-width: 1000px) {
  .lastPost__title {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 400px) {
  .lastPost__title {
    font-size: 2rem;
  }
}

.lastPost__wrapper {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
@media screen and (max-width: 400px) {
  .lastPost__wrapper {
    justify-content: space-between;
  }
}

.lastPost__profile {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
@media screen and (max-width: 400px) {
  .lastPost__profile {
    flex-direction: column;
  }
}

.lastPost__profile-Wrapper-img {
  width: 3.2rem;
  height: 3.2rem;
}

.lastPost__profile-img {
  border-radius: 50%;
}

.lastPost__profile-name {
  font-size: 1.6rem;
  color: #ffffff;
}

.lastPost__data-wrapper {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
@media screen and (max-width: 400px) {
  .lastPost__data-wrapper {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.lastPost__data-icon {
  font-size: 2.4rem;
}

.lastPost__right {
  flex: 1;
}
@media screen and (max-width: 1000px) {
  .lastPost__right {
    flex: initial;
  }
}

.lastPost__about-item {
  padding-block: 2rem;
  border-bottom: 1px solid #f0f0f0;
  transition: all 0.3s;
}

.lastPost__about-item--moveRight:hover {
  transform: translateX(1.6rem);
}

.lastPost__about-subtitle {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  color: #727272;
  margin-bottom: 1.6rem;
}
@media screen and (max-width: 400px) {
  .lastPost__about-subtitle {
    font-size: 1.2rem;
  }
}

.lastPost__about-title {
  font-size: 2.4rem;
  color: #131313;
}
@media screen and (max-width: 400px) {
  .lastPost__about-title {
    font-size: 1.8rem;
  }
}

.articles {
  padding: 3.2rem 0;
}

.articles .container {
  display: grid;
  grid-template-columns: 1fr 32.4rem;
  gap: 8rem;
}
@media screen and (max-width: 1000px) {
  .articles .container {
    grid-template-columns: 1fr;
  }
}

.articles__title {
  font-size: 2.4rem;
  color: #131313;
  margin-bottom: 2.4rem;
}

.articles__list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.articles__item {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  transition: all 0.3s;
}
.articles__item:hover {
  margin-left: 0.8rem;
}
@media screen and (max-width: 1000px) {
  .articles__item {
    flex-direction: column;
    align-items: initial;
  }
  .articles__item:hover {
    margin-left: 0;
  }
}
@media screen and (max-width: 600px) {
  .articles__item {
    gap: 1.2rem;
  }
}

.articles__item-left {
  width: 31.4rem;
  height: 31.4rem;
}
.articles__item-left img {
  max-height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 1.6rem;
}
@media screen and (max-width: 1000px) {
  .articles__item-left img {
    width: 100%;
    max-height: 100%;
    object-position: center;
  }
}
@media screen and (max-width: 1000px) {
  .articles__item-left {
    width: 100%;
    height: 50rem;
  }
}
@media screen and (max-width: 600px) {
  .articles__item-left {
    height: auto;
  }
}

.articles__item-right {
  padding-block: 2.4rem;
}

.articles__item-subtitle {
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  color: #727272;
  margin-bottom: 1.6rem;
}

.articles__item-title {
  font-size: 2.4rem;
  color: #131313;
  margin-bottom: 1.2rem;
  max-width: 20ch;
}
@media screen and (max-width: 1000px) {
  .articles__item-title {
    max-width: initial;
  }
}

.articles__item-description {
  max-width: 40ch;
  font-size: 1.6rem;
  color: #727272;
  line-height: 1.5;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1000px) {
  .articles__item-description {
    max-width: initial;
  }
}

.articles__item-wrapper {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.articles__item-profile {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.article__item-profile-img {
  width: 4.4rem;
  height: 4.4rem;
}

.article__item-profile-img img {
  border-radius: 50%;
}

.article__item-profile-name {
  font-size: 1.6rem;
  color: #131313;
}

.articles__item-data {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.article__item-icon {
  font-size: 3.2rem;
}

.article__item-time {
  color: #131313;
  font-size: 1.6rem;
  font-weight: 700;
}

.articles__description {
  margin-block: 1.8rem;
  font-size: 1.6rem;
  color: #727272;
  line-height: 1.5;
}

.articles__form-wraper {
  position: relative;
}

.articles__form-input {
  padding: 1.6rem;
  width: 100%;
  background-color: #ffffff;
  border: 0;
  box-shadow: 0 0 1px #727272;
  font-size: 1.6rem;
}

.articles__form-wraper i {
  position: absolute;
  z-index: 1;
  top: 1.6rem;
  right: 1.6rem;
  font-size: 1.6rem;
  color: #727272;
}

.articles__tags-list {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 4rem;
}

.articles__tags-text {
  cursor: pointer;
  display: block;
  background-color: #f0f0f0;
  padding: 1rem;
  color: #131313;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.3s;
}
.articles__tags-text:hover {
  background-color: #131313;
  color: #ffffff;
}

.article__popular-big {
  height: 35rem;
  border-radius: 1.6rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../images/popular-big-image.avif");
  background-size: cover;
  background-position: center;
  padding: 3.2rem 1.8rem;
  color: #ffffff;
  margin-bottom: 4rem;
}
@media screen and (max-width: 1000px) {
  .article__popular-big {
    height: 50rem;
  }
}

.article__popular-big-subtitle {
  text-shadow: 1px 1px 1px black;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.article__popular-big-title {
  text-shadow: 1px 1px 1px black;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.articles__popular-title {
  font-size: 2.4rem;
  color: #131313;
  margin-bottom: 1.8rem;
}

.articles__popular-list {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.articles__popular-item {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.articles__popular-item-img {
  height: 14rem;
  flex: 1;
}
.articles__popular-item-img img {
  border-radius: 0.8rem;
  object-fit: cover;
  aspect-ratio: 1/1;
}
@media screen and (max-width: 1000px) {
  .articles__popular-item-img {
    height: initial;
    flex: initial;
    width: 15rem;
  }
}

.articles__popular-item-title {
  flex: 1;
  font-size: 1.8rem;
  color: #131313;
}
@media screen and (max-width: 1000px) {
  .articles__popular-item-title {
    flex: initial;
  }
}

.pro {
  padding-block: 10rem;
  background-color: #131313;
}

.pro__header {
  text-align: center;
  max-width: fit-content;
  margin: 0 auto 2rem;
}

.pro__header-title {
  font-size: 3.2rem;
  color: #ffffff;
  margin-bottom: 1.6rem;
}

.pro__header-description {
  max-width: 70ch;
  font-size: 1.6rem;
  color: #d5d5d5;
  line-height: 1.5;
}

.pro__wrapper {
  position: relative;
  width: 100%;
  height: 36rem;
}
.pro__wrapper::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  z-index: 1;
  background-image: linear-gradient(180deg, transparent 40%, #131313);
}

.pro__block-button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  padding: 1.8rem 2.8rem;
  background-color: #ffffff;
  color: #131313;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-transform: capitalize;
  transition: all 0.3s;
}
.pro__block-button:hover {
  top: 49%;
}
@media screen and (max-width: 400px) {
  .pro__block-button {
    flex-direction: column;
    align-items: initial;
  }
}

.pro__articles-list {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.8rem;
}
@media screen and (max-width: 1000px) {
  .pro__articles-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .pro__articles-list {
    grid-template-columns: 1fr;
  }
}

.pro__articles-item {
  width: 100%;
  height: 100%;
  background-image: url("../images/pro-image1.avif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 1.6rem;
}
@media screen and (max-width: 1000px) {
  .pro__articles-item:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .pro__articles-item:nth-child(2) {
    display: none;
  }
}

.pro__articles-subtitle {
  font-size: 1.8rem;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  margin-bottom: 1.6rem;
}

.pro__articles-title {
  font-size: 2.4rem;
  color: #ffffff;
}

.newsletter {
  padding-block: 3.2rem;
  text-align: center;
}

.newsletter .container {
  max-width: 57rem;
}

.newsletter__header-title {
  font-size: 2.4rem;
  color: #131313;
  margin-bottom: 1.6rem;
}

.newsletter__header-description {
  font-size: 1.6rem;
  color: #131313;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.newsletter__form {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 600px) {
  .newsletter__form {
    flex-direction: column;
  }
}

.newsletter__form-input {
  flex: 1;
  border: 0;
  box-shadow: 0 0 1px #727272;
  padding: 1.6rem 1.6rem;
  font-size: 1.6rem;
  color: #727272;
  border-radius: 0.8rem;
}

.newsletter__form-button {
  font-weight: 700;
  font-size: 1.6rem;
  background-color: #131313;
  color: #ffffff;
  padding: 1.8rem 2.8rem;
  border-radius: 0.8rem;
  transition: all 0.3s;
}
.newsletter__form-button:hover {
  transform: translateY(-0.8rem);
}

.newsletter__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}

.newsletter__link {
  padding: 0.8rem 1.2rem;
  font-size: 1.8rem;
  color: #131313;
  transition: all 0.3s;
}
.newsletter__link:hover {
  color: #727272;
}

.footer {
  padding-block: 2.4rem;
  text-align: center;
}

.footer__description {
  color: #727272;
  font-size: 1.6rem;
}

.footer__link {
  color: #131313;
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
